.manip{

  &__top{
    height: 25vh;
    position:relative;
    // background-color: orangered;
    &-dec{
      position: absolute;
      top:-7.5vh;
      left:-7.5vh;
      width: 15vh;
      height: 15vh;
      background-color: transparent;
      border: 4px solid #fff;
      border-radius: 50%;
    }
  }
}
