/*
essential styles:
these make the slideshow work
*/
.slide__container{
  position: relative;
  // height: 250px;
}


.slide__list{
  position: relative;
  height: 400px;
  list-style-type: none;
}
.slide__overlay{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(#333, .3);
}

.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    // z-index: -4;
    // font-size: 40px;

    box-sizing: border-box;
    // background: #333;
    color: #fff;
    transition: opacity 1s;
    &-img{
      width:100%;
      height: 100%;
      object-fit: fit;
    }
    &__decrip{
      position: absolute;
      z-index: 1000;
      bottom: 2rem;
      right:0;
      width: 300px;
      height: 50px;
      // background-color: rgba(#ddd,0.8);
      margin-right: .5rem;
      margin-bottom: .5rem;
    }
    &__text{
      height:100%;
      padding: .5rem 1rem;
      font-size: 1.4rem;
      font-weight: 900;
      color: #fff;
    }
}

.showing{
    opacity: 1;
    z-index: 2;
}



/*
non-essential styles:
just for appearance; change whatever you want
*/


.sliderNav{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10000;
  width: 150px;
  margin-left: 30px;
  margin-bottom: 20px;
  // background-color: pink;
  &-list{
    list-style: none;
    display: flex;
    width: 100%;
    height: 20px;
    justify-content: space-around;
    align-items: center;
    // background: #777;
  }
  &-items{
    background-color: #ccc;
    width:30px;
    height: 10px;
    border-radius: 10px;
    cursor:pointer;
    border:none;
    // &:focus{
    //   outline: none;
    // }
  }
  &-show{
    background-color: #777;
  }
}
