{% extends "base.html"%}
{% block content %}
    <h1>Itlize CTEPH lesion detection platform</h1>
    <h2>Here is the tutorial of how to perform inference.</h2>
    <p>Firstly, click upload to uploat dicom image of CT scan to the website. Secondly, click inference to perform inference on model built with deep learning algorithm. Finally compare original image with inference image.
  </p>
    <img src="https://user-images.githubusercontent.com/28909028/59002421-57faf780-87e0-11e9-8e90-78ea0ef0af72.png" width="800" height="400">
    <a href="{{url_for(main.about)}}">Here</a>
{% endblock %}
