.video{
  min-height: 40rem;
  width: 100%;
  background-color: rgba(#000, 0.3);
  // background-color: pink;
  &__container{
      width: 100%;
      height: 40rem;
      display:flex;
      justify-content: center;
      align-items: center;
  }
  &__box{
    cursor: pointer;
    width: 10rem;
    height: 10rem;
    &:hover &-svg{
      fill:#aaa;
    }

    &-svg{
      width:100%;
      height: 100%;
      fill: #ddd;
    }
  }

  &__iframe{
    width: 75rem;
    height: 35rem;
    border: none;
    // display:none;
  }
}
