{% extends "base.html" %}

{% block content %}

{% include './home/header.html'%}
{% include './home/story.html'%}
{% endblock %}



<!--
<p>
{% if name %}
  {{name}} is the previous user!
  You can update user in the form below:
{% else %}
  Please enter your name:
{% endif %}
</p>

-----------------------------------------
not included in original config
-----------------------------------------

{% for m in get_flashed_messages()%}
<p>{{m}}</p>
{% endfor %}

---------------------------------------------

<form method="POST">
    {# This hidden_tag is a CSRF security feature. #}
    {{ form.hidden_tag() }}
    {{ form.name.label }} {{ form.name(class='some-css-class') }}
    {{ form.submit() }}
</form> -->
