<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = "icon" type = "image/png" href = "../static/assets/img/heart_logo.png">
  <title>LEGION DETECTION</title>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
  </head>
<body>
<div id="app"></div>
<script type="text/javascript" src="../static/bundle.js"></script></body>
</html>
