<nav class="nav">
  <div class="nav__logo">
    <a href="/">
      <img class="nav__logo-img" src="../static/assets/logo.png" alt="ITLIZER">
    </a>
  </div>
  <ul class="nav__list">
    <li class="nav__items">
      <a class="nav__link" href="/patient/upload">Update</a>
    </li>
    <li class="nav__items">
      <a class="nav__link" href="/patient/inference">Inference</a>
    </li>
    <li class="nav__items">
      <a class="nav__link" href="/patient/about">About</a>
    </li>
  </ul>

</nav>
