<header  style="background-image:linear-gradient(320deg, rgba(0,0,0,0.6),
 rgba(255,255,255,0.5) 80%),url(../static/assets/medical.jpg);
 background-size:cover;
 background-repeat:no-repeat;
 background-position:top;
 width:100%;height:95vh;
 position:relative;">
      <!-- Navigation bar  -->
  {% include 'navbar.html'%}
  <!-- box that contains header  -->
  <div class="header__box">
    <div class="header__main">Itlize</div>
    <div class="header__sub">CTEPH Platform</div>
  </div>
  <div class="header__arrow">
    <button class="header__arrow-img"
    onclick="location.href = '#story';"></button>
</header>
