<!-- tells the user about what makes them so good -->
  <section class="story" id="story">
    <div class="header__container mb-lg">
          <p class="heading__secondary">What will happen</p>
    </div>
    <div class="story__container">
      <!-- container individual stories about the card shown -->

    <div class="row">
      <div class="col-1-of-3 pd-lg">
        <div class="story__card">
          <div class="story__icon">+</div>
          <div class="story__seperator"></div>
          <div class="story__description">
            <p class="story__text"> ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, nostrum, at! Reprehenderit earum vel voluptatum, quis error modi, suscipit adipisci laudantium enim repellendus provident at perspiciatis velit voluptatibus ad, fugit?</p>
            <div class="story__action">
                <a href="#story" class="story__btn">
                  learn more
                  <span >&rarr;</span>
                 </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1-of-3  pd-lg">
        <div class="story__card">
          <div class="story__icon">+</div>
          <div class="story__seperator"></div>
          <div class="story__description">
            <p class="story__text"> ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, nostrum, at! Reprehenderit earum vel voluptatum, quis error modi, suscipit adipisci laudantium enim repellendus provident at perspiciatis velit voluptatibus ad, fugit?</p>
            <div class="story__action">
                <a href="#story" class="story__btn">
                  learn more
                  <span >&rarr;</span>
                 </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1-of-3  pd-lg">
        <div class="story__card">
          <div class="story__icon">+</div>
          <div class="story__seperator"></div>
          <div class="story__description">
            <p class="story__text"> ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, nostrum, at! Reprehenderit earum vel voluptatum, quis error modi, suscipit adipisci laudantium enim repellendus provident at perspiciatis velit voluptatibus ad, fugit?</p>
            <div class="story__action">
                <a href="#story" class="story__btn">
                  learn more
                  <span >&rarr;</span>
                 </a>
            </div>
          </div>
        </div>
      </div>
    </div>



    </div>
  </section>
