.nav{
  position: absolute;
  // background-color: purple;
  width: 100px;
  height: 100px;
  top:0;
  right: 0;
  z-index: 10000;
  transform: rotate(90deg);
  margin-right: 1rem;

  &__list{
    height:100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__item{
    &:not(:last-child){
      margin-bottom: 7.5px;
    }
  }
  &__link,
  &__link:link,
  &__link:visited{
    cursor: pointer;
    display: flex;
    color: inherit;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    width:80%;
    height: 30px;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 700;
    // height: 5vh;
    background-color: yellow;
    box-shadow: 0 .5rem 1rem rgba(#000, 0.3);

    position: relative;
    transition: .4s all;

    &::before{
      content:"";
      display: block;
      position: absolute;
      right:0;
      // background-color: #fff;
      border: 12.5px solid transparent;
      border-right: 12.5px solid #333;
      z-index:1000;
    }
    &:hover{
      width: 85%;
    }
  }

  &__item-sm{
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    width:45%;
    height: 30px;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-weight: 700;
    // height: 5vh;
    background-color: yellow;
    box-shadow: 0 .5rem 1rem rgba(#000, 0.3);

    position: relative;
    transition: .4s all;
    margin-bottom: 7.5px;
    // animation: showUserNav 3s 3;
    &::before{
      content:"";
      display: block;
      position: absolute;
      right:0;
      // background-color: #fff;
      border: 12.5px solid transparent;
      border-right: 12.5px solid #333;
      z-index:1000;
    }
    &:hover{
      width:47.5%;
    }
    span{
      letter-spacing:0;
      transform: rotate(-90deg);
    }
  }


  &__input{
    border:none;
    background-color: transparent;
    font-size: .95rem;
    color: inherit;
    // padding:.5rem;
    text-align: right;
    width: 15px;
    height: 15px;
    &:focus{
      outline: none;
    }
  }
}

// @keyframes showUserNav {
//   0% {
//     background-color: yellow;
//     width:45%;
//   }
//
//   50%{
//     width:100%;
//   }
//   to {
//     background-color: red;
//     width:45%;
//   }
// }
