.center-text{
  text-align: center;
}
.rt-position{
  position: relative;
}
.img-width{
  width:100%;
}
.border-bt{
  border-bottom: 1px solid #444;
}
.tx-center{
  text-align: center;
}
.ds-block{
  display: block;
}
.bd-line{
  border-bottom: 1px solid rgba(#fff, 0.4);
}


.mb-sm{
  margin-bottom: 2rem;
}
.mb-md{
  margin-bottom: 4rem;
}
.mb-lg{
  margin-bottom: 8rem;
}
.mb-hg{
  margin-bottom: 10rem;
}

.mt-sm{
  margin-top: 2rem;
}
.mt-md{
  margin-top: 4rem;
}
.mt-lg{
  margin-top: 8rem;
}
.mt-hg{
  margin-top: 10rem;
}


.mr-sm{
  margin-right: 2rem;
}
.mr-md{
  margin-right: 4rem;
}
.mr-lg{
  margin-right: 8rem;
}
.mr-hg{
  margin-right: 10rem;
}

.ml-sm{
  margin-left: 2rem;
}
.ml-md{
  margin-left: 4rem;
}
.ml-lg{
  margin-left: 8rem;
}
.ml-hg{
  margin-left: 10rem;
}

.pd-sm{
  padding: .5rem;
}
.pd-md{
  padding: 1rem;
}

.pd-lg{
  padding: 2rem;
}
